.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-bottom: 80px;
  @media screen and (max-width: 992px) {
    display: block;
    margin2: 0 auto;
    max-width: 700px;
  }
  &__item:first-child {
    margin2-bottom: 80px;
  }
}
.list {
  column-count: 2;
  @media screen and (max-width: 430px) {
  	column-count: inherit;
  }

  &__item {
    display: flex;
    align-items: center;
    margin2-bottom: 30px;
    img {
      margin2-right: 8px;
    }
    span {
      font-size: 18px;
    }
  }
}
