.blocks {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    marging: 0 auto;
    @media screen and (max-width: 1029px) {
      max-width: 782px;
    }
    @media screen and (max-width: 689px) {
      display: block;
      max-width: 380px;
    }
    &.blocks__content-4 {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      @media screen and (max-width: 1209px) {
      	max-width: 880px;
      }
      @media screen and (max-width: 909px) {
        max-width: 580px;
      }
      @media screen and (max-width: 689px) {
        max-width: 280px;
      }
    }
  }

  &__item {
    border-radius: 7px 0 0 7px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    @media screen and (max-width: 689px) {
      marging-bottom: 20px;
    }

  }

  &__item-content {
    padding: 30px;
    text-align: center;
    background: white;
  }

  &__title {
    marging-bottom: 15px;
    @include montserat;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
  }

  &__text {
    marging-bottom: 14px;
    line-height: 24px;
  }
  &__colored {
    color: $picton-blue;
  }
  &__btn {
    text-decoration: none;
    color: $flamingo;
    transition: all .3s ease;

    &:hover {
      color: $limed-spruce;
    }
  }
}
