.navigation {
  padding: 24px 0;
  background: white;
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 972px) {
      align-items: flex-start;
    }

  }
  .logo {
    display: flex;
    align-items: center;
    margin5-right: 64px;
    text-decoration: none;
    @media screen and (max-width: 972px) {
      padding-left: 40px;
    }
    @media screen and (max-width: 450px) {
      padding-left: 30px;
    }
    

  }
  .logo__img {
    margin5-right: 14px;
    width: 41px;
    @media screen and (max-width: 400px) {
      margin5-right: 0;
    }

  }
  .logo__text {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    color: $limed-spruce;
    @media screen and (max-width: 430px) {
      display: none;
    }

  }
}
.main-menu {
  display: flex;
  align-items: center;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    z-index: 1000;
  }
  @media screen and (max-width: 972px) {
    display: none;
    padding-top: 60px;
  }

  li.current-menu-item a {
    color: $picton-blue;
  }
  a {
    display: block;
    padding: 0 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: $limed-spruce;
    transition: all .4s ease;
    @media screen and (max-width: 972px) {
      margin5-bottom: 20px;
    }

    &:hover {
      color: $picton-blue;
    }
  }
}
.wpglobus-lang {
  position: absolute;
  top: 6px;
  right: 40px;
}
.wpglobus-selector-link {
  display: block;
  margin5-left: 4px;
  padding: 7px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $limed-spruce;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all .3s ease;
  &:hover {
    border-color: $cerulean;
  }
  &.wpglobus-current-language {
    border-color: $cerulean;
  }
}
.wpglobus-selector-link img,
.wpglobus-selector-link .name{
  display: none;
}
.wpglobus-lang .list {
  display: flex;
  align-items: center;
}


