.section {
  padding-top: 75px;
  padding-bottom: 80px;
  &.section--dark {
    background: $aqua-heiz;
  }
  &__header {
    position: relative;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 4px solid $picton-blue;
  }
  &__title {
    @include montserat;
    font-size: 35px;
    font-weight: bold;
    color: $limed-spruce;
    @media screen and (max-width: 600px) {
      font-size: 22px;
    }

  }
  &__subtitle {
    text-transform: uppercase;
    color: $picton-blue;
    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
}