.single-post {
  padding-top: 20px;
  &.single-post--reverse {
    .single-post__content {
      order: 3;
    }
    img {
      order: 2;
    }
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    @media screen and (max-width: 992px) {
      display: block;
      max-width: 730px;
    }
  }
  &__content {
   @media screen and (max-width: 992px) {
     margin-bottom: 80px;
   }

  }
  &__text {
    margin-bottom: 30px;
    line-height: 30px;
    color: $limed-spruce;
  }
}