.slider-wrap {
  position: relative;

  .slider__button {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 85px;
    border-radius: 7px;
    background-color: #35414b;
    opacity: 0.7;
    z-index: 3;
    transition: all .3s;
    @media screen and (max-width: 720px) {
      display: none;
    }

    &:hover {
      background-color: #151a22;
    }
  }

  .slider__button--left {
    left: 50px;
  }

  .slider__button--right {
    right: 50px;
  }
}

.slider {
  position: relative;
  &__item {
    position: relative;
    height: 600px;
    @media screen and (max-width: 720px) {
      height: 500px;
    }
    @media screen and (max-width: 500px) {
      height: 600px;
    }
    

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.3);
      z-index: 2;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }

  &__content {
    position: relative;
    top: 180px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1210px;
    color: white;
    z-index: 3;
    @media screen and (max-width: 1430px) {
    	max-width: 600px;
    }
    @media screen and (max-width: 830px) {
    	max-width: 500px;
    }
    @media screen and (max-width: 720px) {
    	top: 90px;
    }

  }
  &__title {
    margin-bottom: 28px;
    @include montserat;
    font-size: 40px;
    font-weight: bold;
    color: white;
    @media screen and (max-width: 720px) {
      font-size: 34px;
    }
    @media screen and (max-width: 400px) {
      font-size: 26px;
    }

  }
  &__text {
    position: relative;
    margin-bottom: 40px;
    padding-left: 10px;
    max-width: 670px;
    font-size: 24px;
    line-height: 35px;
    @media screen and (max-width: 400px) {
      font-size: 16px;
      line-height: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: #3ab3df;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 40px;
    display: none;
    text-align: center;
    @media screen and (max-width: 720px) {
      display: block;
      width: 100%;
    }

    li {
      display: inline-block;
      margin-right: 10px;
      width: 10px;
      height: 10px;
      font-size: 0;
      border: none;
      background: white;
      border-radius: 50%;
      transition: all .3s;
      box-shadow: 0 2px 5px rgba(0,0,0,.1);
      &.slick-active {
        width: 20px;
        border-radius: 10px;
      }
      button {
        display: none;
      }
    }
  }
}