footer.main-footer
    .container
        .modal-block-wrap
            .modal-block
                .modal-block__text Booking by phone or fill out the form:
                a(href="tel:37379505748").modal-block__phone + (373) 79 505 748
                a.btn.btn--white#js-show-popup(href="#") Booking
        ul.main-footer__menu
            li
                a(href="#") About
            li
                a(href="#") Products
            li
                a(href="#") Price list
            li
                a(href="#") Contacts

.copyright © 2019 Industry. All rights reserved.
.overlay#js-overlay
.popup#js-popup
    .popup__content
        button.popup__close#js-popup-close
        header.section__header
            h2.section__title Get in touch

        .contacts-form
            input(type="text" name="name" placeholder="Name")
            .contacts-form__group
                input(type="email" name="name" placeholder="Email")
                input(type="number" name="name" placeholder="Phone")
            textarea(placeholder="Message")
            input.btn(type="submit" value="Send Message")

