.navigation
    .container
        .navigation__content
            .sandwitch-wrapper
                .sandwitch
                    .sandwitch__line.sandwitch__line--top
                    .sandwitch__line.sandwitch__line--middle
                    .sandwitch__line.sandwitch__line--bottom

            a.logo(href="index.html")
                img.logo__img(src="assets/i/logo.svg")
                span.logo__text DENTOFLEX
            ul.main-menu#js-main-menu
                li.current-menu-item
                    a(href="about.html") About us
                li
                    a(href="services.html") Services
                li
                    a(href="price-list.html") Price list
                li
                    a(href="contacts.html") Contacts

            .wpglobus-lang
                .list
                    a.wpglobus-selector-link.wpglobus-current-language(href='#')
                        img(src='https://euconsult.md/wp-content/plugins/wpglobus/flags/ro.png' alt='')
                        span.name Rom&acirc;n&abreve;
                        span.code RO
                    a.wpglobus-selector-link(href='#')
                        img(src='https://euconsult.md/wp-content/plugins/wpglobus/flags/ru.png' alt='')
                        span.name &Rcy;&ucy;&scy;&scy;&kcy;&icy;&jcy;
                        span.code RU
                    a.wpglobus-selector-link(href='#')
                        img(src='https://euconsult.md/wp-content/plugins/wpglobus/flags/us.png' alt='')
                        span.name English
                        span.code EN
