section.section.our-specialists
    .container
        header.section__header
            h3.section__subtitle Our specialists
            h2.section__title Our team of doctors

        .blocks__content.blocks__content-4
            .blocks__item.wow.fadeIn
                img(src="assets/i/our-specialists/1.jpg" alt="")
                .blocks__item-content
                    .blocks__title Anastasia Zubkova
                    .blocks__colored Orthodontics
            .blocks__item.wow.fadeIn
                img(src="assets/i/our-specialists/2.jpg" alt="")
                .blocks__item-content
                    .blocks__title Serghey Dandist
                    .blocks__colored Dantist
            .blocks__item.wow.fadeIn
                img(src="assets/i/our-specialists/3.jpg" alt="")
                .blocks__item-content
                    .blocks__title Oleg Pasta
                    .blocks__colored Surgeon
            .blocks__item.wow.fadeIn
                img(src="assets/i/our-specialists/1.jpg" alt="")
                .blocks__item-content
                    .blocks__title Stanislav Karies
                    .blocks__colored Orthodontics
