section.our-services-section.section.section--dark
    .container
        header.section__header
            .section__subtitle Types of services
            .section__title Our Services
        .our-services__content
            .our-services__item
                img(src="assets/i/our-services/1.jpg" alt="")
                .our-services__item-content
                    .our-services__title Protetica dentara
                    .our-services__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").our-services__btn Read more
            .our-services__item
                img(src="assets/i/our-services/2.jpg" alt="")
                .our-services__item-content
                    .our-services__title Chirurgie
                    .our-services__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").our-services__btn Read more
            .our-services__item
                img(src="assets/i/our-services/3.jpg" alt="")
                .our-services__item-content
                    .our-services__title Terapie dentara si parodontala
                    .our-services__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").our-services__btn Read more
            .our-services__item
                img(src="assets/i/our-services/2.jpg" alt="")
                .our-services__item-content
                    .our-services__title Carie dentara
                    .our-services__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").our-services__btn Read more
            .our-services__item
                img(src="assets/i/our-services/3.jpg" alt="")
                .our-services__item-content
                    .our-services__title Endodontia
                    .our-services__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").our-services__btn Read more
            .our-services__item
                img(src="assets/i/our-services/1.jpg" alt="")
                .our-services__item-content
                    .our-services__title Prosthodontics
                    .our-services__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").our-services__btn Read more
