section.blocks-section.section.section--dark
    .container
        header.section__header
            .section__subtitle Types of services
            .section__title Our Services
        .blocks__content
            .blocks__item
                img(src="assets/i/our-services/1.jpg" alt="")
                .blocks__item-content
                    .blocks__title Protetica dentara
                    .blocks__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").blocks__btn Read more
            .blocks__item
                img(src="assets/i/our-services/2.jpg" alt="")
                .blocks__item-content
                    .blocks__title Chirurgie
                    .blocks__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").blocks__btn Read more
            .blocks__item
                img(src="assets/i/our-services/3.jpg" alt="")
                .blocks__item-content
                    .blocks__title Terapie dentara si parodontala
                    .blocks__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").blocks__btn Read more
            .blocks__item
                img(src="assets/i/our-services/2.jpg" alt="")
                .blocks__item-content
                    .blocks__title Carie dentara
                    .blocks__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").blocks__btn Read more
            .blocks__item
                img(src="assets/i/our-services/3.jpg" alt="")
                .blocks__item-content
                    .blocks__title Endodontia
                    .blocks__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").blocks__btn Read more
            .blocks__item
                img(src="assets/i/our-services/1.jpg" alt="")
                .blocks__item-content
                    .blocks__title Prosthodontics
                    .blocks__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
                    a(href="#").blocks__btn Read more
