section.single-post.section
    .container
        .single-post__content.wow.slideInLeft
            header.section__header
                .section__subtitle Primary care dental
                .section__title Beautiful Natural Smiles

            .single-post__text
                p A general dentist is your primary care dental provider. This dentist diagnoses, treats, and manages your overall oral health care needs, including gum care, root canals, fillings, crowns, veneers, bridges, and preventive education.
                p Promotes unrealistic expectations of what a healthy smile looks like and it is clearly having a negative effect
            a.btn Read more

        img(src="assets/i/single-post-image.jpg").single-post__img.wow.slideInRight

