section.slider-wrap
    .slider__buttons
        a(href="#").slider__button.slider__button--left
            img(src="assets/i/arrow-left.svg" alt="")
        a(href="#").slider__button.slider__button--right
            img(src="assets/i/arrow-right.svg" alt="")

    .slider#js-slider
        .slider__item(style="background-image: url('assets/i/slider/slide-1.jpg')")
            .slider__content
                h2.slider__title For a Good ORAL HEALTH
                p.slider__text Dentist is your primary care dental provider.<br> This dentist diagnoses and treats.
                a.btn(href="#") Read more
        .slider__item(style="background-image: url('assets/i/slider/slide-1.jpg')")
            .slider__content
                h2.slider__title For a Good
                p.slider__text Dentist is your primary care dental provider.<br> This dentist diagnoses and treats.
                a.btn(href="#") Read more
        .slider__item(style="background-image: url('assets/i/slider/slide-1.jpg')")
            .slider__content
                h2.slider__title For  HEALTH
                p.slider__text Dentist is your primary care dental provider.<br> This dentist diagnoses and treats.
                a.btn(href="#") Read more

