section.testimonials
    .container
        .testimonials__content
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/1.svg" alt="")
                h3.testimonials__title Therapy
                p.testimonials__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/2.svg" alt="")
                h3.testimonials__title Orthodontics
                p.testimonials__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/3.svg" alt="")
                h3.testimonials__title Therapy
                p.testimonials__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/4.svg" alt="")
                h3.testimonials__title Surgery
                p.testimonials__text The results are part of National Smile Month, a nationwide health campaign that promotes the benefits of a healthy smile.
