extends template

block css
    //- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Main

block content
    include ../includes/mixins
    .hidden
        include ../../../build/assets/i/svg/inline/sprite.svg

    include ../includes/header
    include ../includes/navigation

    .price-list
        .page-intro(style="background-image: url('assets/i/page-intro-about.jpg')")
            .container
                h2.page-intro__title Price list
        .container
            ul.tabs#js-tabs
                li
                    a.active(href="#js-tab-1") Protetica dentara
                li
                    a(href="#js-tab-2") Chirurgie
                li
                    a(href="#js-tab-3") Terapie dentara si parodontala
                li
                    a(href="#js-tab-4") Carie dentara
                li
                    a(href="#js-tab-5") Endodontia
            .tabs-content#js-tabs-content
                .tabs-content__item#js-tab-1
                    h2.tabs-content__title Protetica dentara
                    table
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                .tabs-content__item#js-tab-2
                    h2.tabs-content__title Chirurgie
                    table
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                .tabs-content__item#js-tab-3
                    h2.tabs-content__title Terapie dentara si parodontala
                    table
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                .tabs-content__item#js-tab-4
                    h2.tabs-content__title Carie dentara
                    table
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                .tabs-content__item#js-tab-5
                    h2.tabs-content__title Endodontia
                    table
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200
                        tr
                            td Consultatia (cu planul de tratament si devizul estimativ)
                            td 200

    include ../includes/footer

    include ../includes/scripts/ie-scripts

block scripts
    script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
    script(src="assets/libs/slick/slick/slick.min.js")
