extends template

block css
    //- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Main

block content
    include ../includes/mixins
    .hidden
        include ../../../build/assets/i/svg/inline/sprite.svg

    include ../includes/header
    include ../includes/navigation
    .page-intro(style="background-image: url('assets/i/page-intro-about.jpg')")
        .container
            h2.page-intro__title Services

    section.single-post.section.single-post--reverse
        .container
            .single-post__content
                header.section__header
                    .section__title Prosthodontics

                .single-post__text
                    p A general dentist is your primary care dental provider. This dentist diagnoses, treats, and manages your overall oral health care needs, including gum care, root canals, fillings, crowns, veneers, bridges, and preventive education.
                    p Promotes unrealistic expectations of what a healthy smile looks like and it is clearly having a negative effect
                    p We’ve built our stellar reputation upon the premise that minutes always count – whether it is improving your heart health,

            img(src="assets/i/services-single.jpg").single-post__img
    .container
        .services-single
            .services-single__item
                header.section__header
                    h2.section__title Duis aute irure
                ul.simple-list
                    li.simple-list__item
                        b Endodontic
                        p Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.
                    li.simple-list__item
                        b Reproductive Endocrinology
                        p Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.
                    li.simple-list__item
                        b Integrative MedicineI
                        p Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.

            .services-single__item
                header.section__header
                    h2.section__title Our Specialist

                .blocks__content.blocks__content-4
                    .blocks__item
                        img(src="assets/i/our-specialists/1.jpg" alt="")
                        .blocks__item-content
                            .blocks__title Anastasia Zubkova
                            .blocks__colored Orthodontics
                    .blocks__item
                        img(src="assets/i/our-specialists/2.jpg" alt="")
                        .blocks__item-content
                            .blocks__title Serghey Dandist
                            .blocks__colored Dantist


    include ../includes/footer

    include ../includes/scripts/ie-scripts

block scripts
    script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
    script(src="assets/libs/slick/slick/slick.min.js")
