@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';
@import '../libs/slick/slick/slick.scss';
// @import '../../../build/assets/i/svg/bg/css/sprite.css'

body {
  margin: 0;
  padding: 0;
  @include robotregular;
  font-size: 18px;
  line-height: 1.3;
  color: $limed-spruce;
  background: white;
  &.fixed {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


img {
  max-width: 100%;
  height: auto;
}

ul {
  @include reset-list;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.container-big {
  margin: 0 auto;
  max-width: 1920px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.btn {
  display: inline-block;
  width: 200px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
  color: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
  background-color: #eb662d;
  transition: all .3s ease;

  &:active {
    background-color: #eb662d;
    box-shadow: none;
  }

  &:hover {
    background: #BF3D05;
  }
}

@import "blocks/sandwitch";
@import "blocks/section";
@import "blocks/header";
@import "blocks/navigation";
@import "blocks/slider";
@import "blocks/testimonials";
@import "blocks/single-post";
@import "blocks/blocks";
@import "blocks/our-specialists";
